{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Gallery Website</title>

      <!-- stylesheet -->
      <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

      <!-- google fonts -->
      <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i" rel="stylesheet">

      <!-- bootstrap -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

      <!-- icons -->
      <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

      <!-- for on scroll animations -->
      <link rel="stylesheet" href="https://cdn.rawgit.com/daneden/animate.css/v3.1.0/animate.min.css">
      <script src="https://cdn.rawgit.com/matthieua/WOW/1.0.1/dist/wow.min.js"></script>

<body>
      
      <a name="home"></a>
      <div class="wrapper">

            <!--------------- hero section starts here --------------->

            <div class="video-container">
                  <video playsinline autoplay muted loop id="bgvid">
                        <source src="{% static 'videobg.mp4' %}" type="video/mp4">
                  </video>
            </div>

            <div class="header">
                  <h1 class="wow fadeInUp" data-wow-delay="0.4s">Hi, I'm Neel</h1>
                  <h1 class="wow fadeInUp" data-wow-delay="1.1s">Welcome To My Gallery</h1>
            </div>

            <!--------------- hero section ends here --------------->

            <!--------------- navbar starts here --------------->

            <nav class="nav">
                  <span id="brand">
                        <a href="">Neel Böcher</a>
                  </span>

                  <ul id="menu">
                        <li><a href="#home">Home</a></li>
                        <li><a href="#about">About Me</a></li>
                        <li><a href="#services">What I Do</a></li>
                        <li><a href="#gallery">Gallery</a></li>
                        <li><a href="#contact">Contact</a></li>
                  </ul>

                  <div id="toggle">
                        <div class="span">menu</div>
                  </div>

            </nav>

            <div id="resize">
                  <div class="close-btn">close</div>

                  <ul id="menu">
                        <li><a href="#home">Home</a></li>
                        <li><a href="#about">About Me</a></li>
                        <li><a href="#services">What I Do</a></li>
                        <li><a href="#gallery">Gallery</a></li>
                        <li><a href="#contact">Contact</a></li>
                  </ul>
            </div>

            <!--------------- navbar ends here --------------->

            <div class="content">

            <!--------------- about section starts here --------------->

            <a name="about"></a>

           <section class="story">
      

                  <div class="container-fluid">

                        <div class="section-data">

                              <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-2 section-index wow fadeInUp" data-wow-delay="0.3s">01</div>
                                    <div class="col-md-8 section-heading wow fadeInUp" data-wow-delay="0.4s">{{about_text.title}}</div>
                              </div>

                              <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-6 section-subheading wow fadeInUp" data-wow-delay="0.5s"><h1>{{about_text.text_1}}</h1></div>
                              </div>

                              <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-6 section-info wow fadeInUp" data-wow-delay="0.6s">{{about_text.text_2}}</div>

                              </div>
                              <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-6 section-info wow fadeInUp" data-wow-delay="0.6s">{{about_text.text_3}}</div>
                              </div>

                        </div>

                  </div>

           </section>

            <!--------------- about section ends here --------------->

            <!--------------- services section starts here --------------->

            <a name="services"></a>

           <section class="services">

            <div class="container-fluid">

                  <div class="section-data">

                        <div class="row">
                              <div class="col-md-2"></div>
                              <div class="col-md-2 section-index wow fadeInUp" data-wow-delay="0.3s">02</div>
                              <div class="col-md-8 section-heading wow fadeInUp" data-wow-delay="0.4s">What I Do</div>
                        </div>

                        <div class="row service">
                	       	<div class="col-md-4"></div>
                            <div class="col-md-3 wow fadeInUp" data-wow-delay="0.5s">
                                  <div class="icon">
                                        <img src="{% static 'tea_cup.png' %}" style= 'background-color: white'>
                                  </div>
                                  <div class="icon-title">
                                        Ceramics: Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                  </div>
                            </div>

                              <div class="col-md-3 wow fadeInUp" data-wow-delay="0.6s">
                                          <div class="icon">
                                                <img src="{% static 'palette.png' %}" style= 'background-color: white'>
                                          </div>
                                          <div class="icon-title">
                                                Painting: Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                          </div>
                              </div>
                        </div>


                        <div class="row service">
                        	  <div class="col-md-4"></div>
                              <div class="col-md-3 wow fadeInUp" data-wow-delay="0.7s">
                                    <div class="icon">
                                          <img src="{% static 'hand_pen.png' %}" style= 'background-color: white'>
                                    </div>
                                    <div class="icon-title">
                                          Drawing: Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                    </div>
                              </div>

      
                        </div>
                  </div>

            </div>

           </section>

            <!--------------- services section ends here --------------->

            <!--------------- gallery section starts here --------------->


            <a name="gallery"></a>

            <section class="gallery">

            	<div class="container-fluid">

                	<div class="section-data">

		                <div class="row">
		                      <div class="col-md-2"></div>
		                      <div class="col-md-2 section-index wow fadeInUp" data-wow-delay="0.3s">03</div>
		                      <div class="col-md-8 section-heading wow fadeInUp" data-wow-delay="0.4s">Gallery</div>
		                </div>

		                {% for img in images %}
			            <div class="work" >
			                  <img class="wow fadeInUp" data-wow-delay="0.5s" src="{{img.image.url}}" alt="project img">
			            </div>
			            {% endfor %}
			        </div>
			    </div>

            </section>
            
            <!--------------- gallery section ends here --------------->

            <!--------------- newsletter section starts here --------------->

           <section class="newsletter">

                  <div class="container">

                        <div class="row">
                              <div class="col-md-12">
                                    <div class="news-data">
                                    <div class="section-subheading">
                                          <h1 class="wow fadeInUp" data-wow-delay="0.3s">Subscribe to my newsletter</h1>
                                    </div>

                                    <div class="input-group wow fadeInUp" data-wow-delay="0.4s">
                                          <input type="email" class="form-control" placeholder="Enter your email">
                                          <span class="input-group-btn">
                                                <button class="btn" type="submit">Subscribe</button>
                                          </span>
                                    </div>
                                    </div>
                              </div>
                        </div>

                  </div>

           </section>

            <!--------------- newsletter section ends here --------------->

            <!--------------- contact section starts here --------------->

            <a name="contact"></a>

            <section class="contact">

                  <div class="container-fluid">

                        <div class="row">
                              <div class="col-md-2"></div>
                              <div class="col-md-2 section-index wow fadeInUp" data-wow-delay="0.3s">04</div>
                              <div class="col-md-8 section-heading wow fadeInUp" data-wow-delay="0.4s">Contact Me</div>
                        </div>

                        <div class="row">
                              <div class="col-md-4"></div>
                              <div class="col-md-6 icon-title wow fadeInUp" data-wow-delay="0.5s">{{contact_text.text}}</div>
                        </div>

                        <div class="row">
                              <div class="col-md-4"></div>
                              <div class="col-md-6">
                                    <form action="{% url 'index' %}" name="contact-form" id="contact-form" method="POST">
                                    	{% csrf_token %}
 
                                          <ul>

                                                <li class="wow fadeInUp" data-wow-delay="0.6s">
                                                      <label for="contact-name">Subject :</label>
                                                      <div class="textarea">
                                                            <input type="text" name="subject" id="contact-name" value="" required>
                                                      </div>
                                                </li>

                                                <br>

                                                <li class="wow fadeInUp" data-wow-delay="0.7s">
                                                      <label for="sender">E-mail :</label>
                                                      <div class="textarea">
                                                            <input type="text" name="sender" id="contact-email" value="" required>
                                                      </div>
                                                </li>

                                                <br>

                                                <li class="wow fadeInUp" data-wow-delay="0.8s">
                                                     <label for="contact-project">Message :</label> 
                                                     <div class="textarea">
                                                     <textarea name="message" id="contact-project" rows="6" required></textarea>
                                                     </div>
                                                </li>

                                          </ul>

                                          <button type="submit" name="cc_myself" id="contact-submit" class="send wow fadeInUp" data-wow-delay="0.9s">Send Message</button>

                                    </form>
                              </div>
                        </div>

                  </div>

            </section>

            <!--------------- footer starts here --------------->

            <div class="footer">

                  <div class="container">

                        <div class="info">

                              <div class="row">
                                    <div class="col-md-4 wow fadeInUp" data-wow-delay="0.3s" id="address">
                                          <p>Company Info</p>
                                          <h4>CVR. 12121212</h4>
                                          <h4>Skovhegnet 25, Kirkelte</h4>
                                          <h4>Denmark</h4>

                                          <br><br>
                                    </div>

                                    <div class="col-md-4 wow fadeInUp" data-wow-delay="0.4s" id="media">
                                          <ul>
                                                <li><ion-icon name="logo-facebook"></ion-icon></li>

                                                <li><ion-icon name="logo-instagram"></ion-icon></li>

                                                <li><ion-icon name="logo-twitter"></ion-icon></li>

                                                <li><ion-icon name="logo-youtube"></ion-icon></li>
                                          </ul>

                                          <br><br>
                                    </div>

                                    <div class="col-md-4 wow fadeInUp" data-wow-delay="0.5s" id="mail">
                                          <p>Business Inquiries</p>
                                          <h4>Neelboecher@gmail.com</h4>

                                          <br><br>
                                    </div>
                              </div>

                        </div>

                  </div>

            </div>

            <!--------------- footer ends here --------------->

            </div>

      </div>


<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script>

// navigation starts here
$("#toggle").click(function() {
            $(this).toggleClass('on');
            $("#resize").toggleClass("active");
      });
      $("#resize ul li a").click(function() {
            $(this).toggleClass('on');
            $("#resize").toggleClass("active");
      });
      $(".close-btn").click(function() {
            $(this).toggleClass('on');
            $("#resize").toggleClass("active");
      });

$(function () {
  $(document).scroll(function () {
    var $nav = $(".nav");
    $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
  });
});

new WOW().init();

// Select all links with hashes
$('a[href*="#"]')
  // Remove links that don't actually link to anything
  .not('[href="#"]')
  .not('[href="#0"]')
  .click(function(event) {
    // On-page links
    if (
      location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') 
      && 
      location.hostname == this.hostname
    ) {
      // Figure out element to scroll to
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      // Does a scroll target exist?
      if (target.length) {
        // Only prevent default if animation is actually gonna happen
        event.preventDefault();
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000, function() {
          // Callback after animation
          // Must change focus!
          var $target = $(target);
          $target.focus();
          if ($target.is(":focus")) { // Checking if the target was focused
            return false;
          } else {
            $target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
            $target.focus(); // Set focus again
          };
        });
      }
    }
  });

</script>
</body>
</html>
{% endblock content %}